h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    animation: fadeIn ease-in-out 2s;
    animation-fill-mode: forwards;
}
.textbox{
    text-align: center;    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    opacity: 0;
    animation: fadeIn ease-in-out 1s;
    animation-fill-mode: forwards;

}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.upload {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.edit{
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input[type="file"] {
    display: block;
    margin: 0 auto;
    padding-left: 15%;
}
select {
    width: 180px;
    height: 40px;
    font-size: 15px;
    text-align: center;
}

button[type="submit"] {
    background-color: #0080ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
    transition: all 0.2s ease-out;
}
button[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

button.delete[type="submit"] {
    background-color: red;
    transition: all 0.2s ease-out;
}

.invalid{
    border: 2px solid red;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    transition: all 0.2s ease-out;
}

.invalid:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

button.delete[type="submit"]:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.0em;
    transition: all 0.2s ease-out;
}

.menu a:hover {
background-color: #666; /* change the background color on hover */
transform: scale(1.1); /* make the link slightly bigger on hover */
}

.image-details {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
    text-align: center;
}

.image-details:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    max-width: 1200px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

.image-grid .image {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}
.image-grid .image:hover {
    transform: scale(1.1);
  }
.image-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    justify-content: center; /* Add this line */
}

.image-single .image {
    display: block;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    height: auto;
    margin: 0 auto; /* Add this line to center the image */
    transition: transform 0.2s ease-out;
}

.image-single .image:hover {
  transform: scale(1.1);
}

input[type="date"]{
    background-color: #0080ff;
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: transform 0.2s ease-out;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
input[type="date"]:hover{
    transform: scale(1.1)
}


